* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 10px;
}
.calc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30px;
    height: 100px;
    margin-left: 100px;
    border: 1px solid black;
    
}
.greencalc {
    background-color: green;
}
.input, .input1 {
    margin-left: 10px;
    margin-right: 10px;
}
.redcalc {
    background-color: red;
    height: 10px;
}